.footer--wrap {
    margin-top: 4%;
    position: static;
    width: 100%;
    display: grid;
    justify-self: center;
    justify-items: center;

}

.footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 2.5%;
}


.social--media--wrap {
    grid-column: 2 / span 2;
    grid-row: 2;
    justify-self: right;
    display: flex;
}

.social--media--icon--wrap {
    display: flex;
    margin: 2.5px;
}


.social--media--img {
    width: 45px;
    margin: 2px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.1);
    transition: 0.1s;
    
}

.social--media--img:hover {
    opacity: 0.8;
}



.email--wrap{
   
    grid-column: 1 / span 2;
    transition: 0.1s;
    width: 100%;
}

.email--wrap:hover{
    cursor: pointer;
    transform: scale(1.01);


}
.clip--board {
    padding: 0;
    margin: 0;
}

.email {
    font-size: 42px;
    font-weight: 600;
    margin: 0;
}



.copyright--wrap {
    margin-top: 1%;
    grid-column: 2 / span 2;
    grid-row: 3;
    text-align: right;
}


#footer--dark {
    filter: invert();
}








@media screen and (max-width: 480px) {





    .footer--wrap {
        padding-left: 5%;
        padding-left: 5%;
        position: static;
        width: 100%;
        display: flex;
        justify-self: center;
    }

    .email--wrap {
        grid-column: 1 / span 2;
    }

    .copyright--wrap {
        grid-column: 1 / span 2;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr;
    }

    .social--media--wrap {
        grid-column: 1;
        justify-self: center;
    }

    .email {
        font-size: 32px;
    }

    .social--media--img {
        width: 38px;
    }
    
}

@media screen and (max-width: 1280px) {

    }

    .email {
        font-size: 32.5px;
    }

    .copyright--wrap {
 font-size: 12px;
}

  

@media screen and (max-width: 480px) {
    .footer--wrap {
        margin-top: 0;
        padding: 0;
        text-align: center;
    }

    .footer {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .social--media--wrap {
        grid-column: 1;
        justify-self: right;
    }

    .email--wrap {
        grid-column: 1;
        text-align: left;

    }

    .email {
        font-size: 18.5px;
    }

    .social--media--img {
        width: 30px;
    }
    

    
    
    #footer--dark {
        filter: invert();
    }
    


}

@media screen and (max-width: 320px)  {
    .social--media--img {
        width: 25px;
        margin: 2px;
        box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.1);
        transition: 0.1s;
    }

    .email {
        font-size: 22px;
        text-align: right;
    }
    
    .clip--board {
        font-size: 11px;
    }
}